.form-wrapper {
    position: relative;
    margin-top: 128px;
    margin-bottom: 128px;
    margin-left: max(10px, 20%);
    margin-right: max(10px, 20%);
    box-shadow: 0px 0px 67px rgba(0, 0, 0, 0.49);
    border-radius: 100%;
    z-index: 1;
}

.form-wrapper:before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.lego-character-proximity {
    position: absolute;
    background-color: transparent;
    height: 120px;
    width: 100px;
    top: -90px;
    right: 20px;
}

.wobble {
    animation: shake 1s infinite;
}
@keyframes shake {
    0% {
        transform: translateY(-15px) rotate(0deg);
    }
    25% {
        transform: translateY(-15px) rotate(-10deg);
    }
    50% {
        transform: translateY(-15px) rotate(0deg);
    }
    75% {
        transform: translateY(-15px) rotate(10deg);
    }
    100% {
        transform: translateY(-15px) rotate(0deg);
    }
}

.lego-character {
    position: absolute;
    transition: transform 0.25s ease-in-out;
    top: -70px;
    right: 20px;
    z-index: -2;
}

.lego-character-proximity:hover ~ .lego-character {
    transform: translateY(30px);
}
.form-wrapper:hover > .lego-character {
    transform: translateY(-30px);
}

#eyes,
#eyes img {
    position: absolute;
    width: 7px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15%;
    background: #ffffff;
    box-shadow: 0px 0px 67px rgba(0, 0, 0, 0.49);
    border-radius: 50px 40px 40px 40px;
}

.form > h1 {
    font-size: clamp(16px, 7.5vw, 45px);
    line-height: max(30px);
    font-weight: 700;
    color: #2196f3;
}

.form > h3 {
    font-size: clamp(20px, 7.5vw, 40px);
    line-height: max(70px);
    font-weight: 700;
    color: rgba(0, 0, 0, 0.35);
}

.form > h4 {
    margin-top: 30px;
    font-size: clamp(20px, 2vw, 37px);
    font-weight: 700;
    letter-spacing: -0.05em;
    color: rgb(0, 0, 0);
}

.inputfield > label,
.inputfield > input,
.inputfield > p {
    margin: 0;
}
.inputfield {
    margin-top: 20px;
}
.inputfield > label {
    display: block;
    font-size: clamp(14px, 1.9vw, 20px);
    font-weight: 700;
    letter-spacing: -0.05em;
}
.inputfield > input,
.inputfield > textarea {
    margin-top: 5px;
    min-height: 50px;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 5px 0;
    padding-left: 10px;
    background: #fbfbfb;
    border: 1px solid #adadad;
    border-radius: 9px;
    font-size: clamp(15px, 3vw, 18px);
    font-weight: 700;
}

.inputfield > textarea {
    min-height: 100px;
    resize: none;
    background: #fbfbfb;
    border: 1px solid #adadad;
}
.inputfield > label > span {
    color: #ff002a;
}
.inputfield > p {
    font-weight: 400;
    font-size: 14px;
    color: #ff002a;
}

.radioButtonField {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.radioButtonField > input {
    margin-top: 0px;
    min-height: 20px;
    width: 20px;
    padding: 0px;
}

select {
    appearance: none;
    border: none;
    padding: 10px;
    background: #fbfbfb;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

select::-ms-expand {
    display: none;
}

select,
.dropdown:after {
    grid-area: select;
}
.dropdown option {
    padding: 5px;
}

select:focus > option:checked {
    background: #adadad !important;
}
.dropdown {
    margin-top: 5px;
    background: #fbfbfb;
    border: 1px solid #adadad;
    border-radius: 0.25em;
    padding: 5px 5px;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    display: grid;
    grid-template-areas: 'select';
    align-items: center;
    position: relative;
}

.dropdown::after {
    content: '';
    width: 0.8em;
    height: 0.5em;
    background: #adadad;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

.vradioContainer {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

input[type='radio'] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    min-width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    transform: translateY(-0.075em);
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.25s ease-in;
}

input[type='radio']:checked {
    background-color: var(--lego-yellow);
}

.option {
    display: flex;
    gap: 10px;
    align-items: center;
}

.option > label {
    font-size: clamp(12px, 2vw, 18px);
    font-weight: 700;
}

.hradioContainer {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

/* input[type="radio"]::before {
    content: "";
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: var(--lego-yellow);
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  } */

/* .uploadImageContainer {
  position: relative;
  margin-top: 100px;
}
  #file {
    display: none;
  }

  #uploadBtn {
    position: absolute;
    top: 32px;
    left: 32px;
    aspect-ratio: 3/4;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  #uploadBtn:hover {
    opacity: 1;
  }

  #placeholderImg {
    border: 32px solid;
    background-color: black;
    z-index: -2;
    border-image: url("../assets/border.png") 30 repeat;
    aspect-ratio: 3/4;
    width: 200px;
  }
   */
.payment > h1 {
    margin-bottom: 30px;
    font-size: clamp(16px, 7.5vw, 45px);
}
.payment h3 {
    font-size: clamp(20px, 2vw, 37px);
    font-weight: 700;
    letter-spacing: -0.05em;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.payment h3 > span {
    color: #ff002a;
}

.payment h4 {
    margin: 0;
    font-size: clamp(8px, 3.5vw, 22px);
    font-weight: 700;
    color: black;
}

.payment h4 > span {
    font-weight: 400;
}

.paymentDetails {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment > .nextPrevButtonsContainer {
    display: flex;
    width: 100%;
    gap: 30px;
}

.payment > .nextPrevButtonsContainer > button {
    width: 100%;
}

.payment > .qrcodeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment > .qrcodeContainer > h3 {
    font-size: clamp(20px, 6.5vw, 25px);
    font-weight: 700;
}

.payment > .qrcodeContainer > img {
    width: 200px;
}

.legoman-wrapper {
    margin-top: 25px;
    flex: 1;
    max-height: 100%;
}
.legoman {
    max-height: 315px;
    margin: 0;
    padding: 0;
}

.submit {
    cursor: pointer;
    border: none;
    margin-top: 50px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lego-yellow);
    border-radius: 10px;
    transition: transform 0.5s;
}

.submit:hover {
    transform: scale(102%);
}

.submit > p {
    font-size: 24px;
    padding: 10px;
    margin: 0;
    font-weight: 600;
    letter-spacing: -0.05em;
}

::-webkit-input-placeholder {
    /* Edge */
    font-weight: 700;
    font-size: clamp(14px, 1.5vw, 30px);
    line-height: 36px;
    /* identical to box height */

    letter-spacing: -0.05em;

    color: rgba(0, 0, 0, 0.24);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 700;
    font-size: clamp(14px, 1.5vw, 30px);
    line-height: 36px;
    /* identical to box height */

    letter-spacing: -0.05em;

    color: rgba(0, 0, 0, 0.24);
}

::placeholder {
    font-weight: 700;
    font-size: clamp(14px, 1.5vw, 30px);
    line-height: 36px;
    /* identical to box height */

    letter-spacing: -0.05em;

    color: rgba(0, 0, 0, 0.24);
}

@media (max-width: 660px) {
    .form-wrapper {
        width: 100%;
        margin: 100px 0 50px 0;
        box-shadow: none;
        /* box-shadow: 0px 0px 67px rgba(0, 0, 0, 0.49); */
        border-radius: 0;
    }

    .form {
        box-shadow: none;
        border-radius: 20px;
    }
}
