.speakerCard > .speakerCardImg {
    position: relative;
    background-color: #42a5f5 ;
    border-radius: 15px;
    height: 250px;
    width: 250px;
}

.speakerCard > .speakerCardImg > .speakerImg {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    height: 230px;
    width: 220px;
    filter: saturate(0);
}

.speakerCard  {
    
    text-align: center;
    color: white;
    margin: 20px;

}

.speakerCard > h3 {
    padding-top: 20px;
}

.speakerCard > h4 {
    padding-bottom: 20px;
}