.speakerCard > .speakerCardImg >img {
   width: 90%;
   margin-bottom:3%
}

.speakerCard{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
  
}

.speakerCard h1 {
   color: white;
   text-align: center;
   
}

.speakerCard h3 {
   width: 80%;
   height: 40%;
   margin-top: 1%;
   color: white;
   text-align: center;
}