.planCard {
    position: relative;
    background-image: url("../../../assets/images/planBg.png");
    width:300px;
    height: 400px;
    background-size: 100% auto; 
    background-repeat: no-repeat;  
    padding: 20px;
}

.planCard > .CardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 350px;
    padding-top: 30px;
}

.planCard > .CardContent > .cardHead {
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.planCard > .CardContent > .cardHead > h3 {
    font-weight: 400;
}
.planCard > .CardContent > .cardHead > h4 {
    font-size: 26px;
}

.price  {
    position: relative;
}

.price > h2 {
    font-family: 'Magilio';
    font-size: 60px;
    position: relative;
}

.planCard > .CardContent > .cardHead > .price > .rupee {
    width: 15px;
    position: absolute;
    top: 0;
    left: -20px;
}

.planCard > .CardContent > .cardFooter {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    height: 169px;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.planCard > .CardContent > .cardHead > hr {
    width: 100%;
    background-color: white;
    border: none;
    color: white;
    height: 2px;
}

.planCard > .CardContent > .cardFooter > .desc {
    font-family: 'GoogleSans';
    font-weight: 100;
    width: 100%;
    font-size: 22px;
    text-align: left;
    margin-bottom: 60px;
}

.planCard > .CardContent > .cardFooter > .submit {
    margin: 0;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.planCard > .CardContent > .cardFooter > .submit > p {
    color: black;
    font-size: 16px;
}