#home {
    position: relative;
    z-index: 1;
    overflow-x: clip;
   /* margin-top: -30px;*/
}

#home a {
    text-decoration: none;
}

.main > .landing {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 80px 10% 20px 10%;
    z-index: 1;

}

.landing > h1 {
    font-weight: 700;
    /* font-size: max(38px, 6vw);*/
    font-size: max(23px, 5vw);
    line-height: 90%;
    /* or 67px */

    letter-spacing: -0.02em;
    color: #282828;
}

.landing > h2 {
    padding: 10px 0;
    margin-bottom: 10px;
    font-weight: 300;
    /*font-size: max(24px, 3vw);*/
    font-size: max(5px, 3.5vw);
    line-height: 90%;
    /* or 45px */

    letter-spacing: -0.02em;

    color: #ffffff;
}

.landing_dateWrapper {
    display: flex;
    margin: auto;
    align-items: center;
    gap: 20px;
}

.landing_dateWrapper > h4 {
    font-weight: 500;
    /* font-size: max(24px, 2.5vw);*/
    font-size: max(16px, 1.8vw);
    line-height: 90%;
    margin-bottom:19px;
    /* or 28px */
    letter-spacing: -0.02em;
    color: #282828;
}

.landing_dateWrapper > img {
    margin-bottom: 12px;
}

.closeBar {
    display: none;
}

.registerButton {
    margin: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background: #ffdb03;
    border: 1.43505px solid #282828;
    border-radius: 47.8349px;
    font-weight: 700;
    font-size: clamp(10px, 4vw,  23.7209px);
    line-height: 66.52%;
    /* or 16px */

    letter-spacing: -0.05em;

    color: #282828;
    width: clamp(200px, 50vw,  300px);
    transition: background-color 0.25s ease-in-out;
}

.registerButton:hover {
    background-color: white;
}

.highlight {
    animation: highlight 0.5s ease-in-out 2;
}

.registerButton > .btnHole {
    height: 20px;
    aspect-ratio: 1/1;
    border: 2.39174px solid #282828;
    border-radius: 100%;
}

@keyframes highlight {
    0% {
        transform: scale(100%);
    }
    25% {
        transform:  scale(105%);
        background-color: #FFFFFF;
    }
    50% {
        transform:  scale(100%);
    }
    75% {
        transform:  scale(105%);
        background-color: #ffdb03;
    }
    100% {
        transform:  scale(100%);
    }
}

@media screen and (min-width: 900px) {
    #home > .landing {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10vh auto;
        text-align: center;
        max-height: 180px;
    }
    .landing_dateWrapper {
        justify-content: center;
    }
}

/* ABOUT SECTION */

.about {
    z-index: 2;
    height: max(100vh, 500px);
    margin-top: 312px;
    padding: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    overflow-x: clip;
    z-index: 2;
    position: relative;
}



.about1 {
    padding-left: 250px;
    height: fit-content;
    padding-top: 100px;
    background-color: #42a5f5;
    overflow-x: clip;
    position: relative;
    padding-right: 50px;
}

.about1 * {
    z-index: 2;
}

.about1 > .lights {
    display: block;
    position: absolute;
    top: -110px;
    left: 0;
    z-index: 1;
}





 .titleContent > h1 {
    font-weight: 700;
    color: #ffffff;
    margin-left: 30px;
    margin-bottom: 100px;
    font-size: 70px;
}



.legoChars {
    position: absolute;
    z-index: -99;
    left: 50%;
    transform: translate(-50%);
    height: 340px;
    width: 600px;
    animation: riseUp 1s ease-in;
}

@keyframes riseUp {
    0% {
        transform: translate(-50%,100%);
    }
    100% {
        transform:  translateY(-50%,0);
    }
}

.about > .title > h1 {
    
    font-weight: 700;
    font-size: max(30px, 5vw);
    line-height: 111.2%;
    letter-spacing: -0.055em;
    color: #ffffff;
}
.about > .title > h1 > span {
    font-weight: 700;
    color: #42a5f5;
}

.about > .title > h1:nth-child(2) {
    width: 300px;
}

.about > .player {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 300px;
    -moz-border-radius: 10px;
    position: relative;
}

.about > .player > #wrap {
    width: calc(45vw + 20px);
    height: 380px;
    border-radius: 20px;
    -moz-border-radius: 10px;
    background: #42a5f5;
    position: relative;
}

.about > .player > #wrap > iframe {
    position: absolute;
    border: #42a5f5;
    top: 10px;
    left: 10px;
    width: 45vw;
    height: 360px;
}

@media screen and (min-width: 900px) {
    .about {
        flex-direction: row;
        height: max(10vh, 500px);
        justify-content: center;
        align-items: center;
    }

    .about > * {
        flex: 1;
    }

    .about >.title> p{
        color: white;
        margin-top: 20px;
    }

    .star{
        margin-left:-100px;
    }

    .star3{
        position: absolute;
        width: 123px;
        height: 121.51px;
        left: 66px;
        top: 65px;
    }

    .star4{
        position: absolute;
        width: 76.78px;
        height: 76.04px;
        left: 111.47px;
        top: 123.15px;
    
    }

    .about1 {
        margin-left: -150px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }

    .closeBar {
        display: block;
    }
  
    
    
   .about1 .image{
        position: relative;
        top: 0;
        left:0;
        margin-right: 100px;
    }
    .about1.player{
        position: absolute;
        top:0;
        left:0;
    }
    .playerin{
        position:absolute;
        top:280px;
        left:140px
    }

 /*   .playerin{
        position: absolute;
width: 23px;
height: 29px;
left: 930px;
top: 400px;

background: #FFFFFF;
    }*/
}

@media screen and (max-width: 900px) {
    .about {
        text-align: center;
    }

    .about .title{
        margin-top: 100px;
        font-size: 30px;
    }

    .about1 {
        margin-left: -180px;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        align-items: center;
        height:fit-content;
        margin-top: 80px;
    }

    .about1 > .lights {
        display: none;
    }
    
    
    .about1 > .titleContent > h1{
         font-size: 50px;
         
    }

    .about1 > .title > .titleContent > h1:nth-of-type(1) {
        width: 100%;
    }

    .about > .title > h1:nth-child(2) {
        width: 100%;
    }

    .about >.title> p{
        color: white;
        margin-top: 20px;
    }

    .about > .player > #wrap {
        width: 320px;
        height: 200px;
    }

    .about > .player > #wrap > iframe {
        width: 300px;
        height: 180px;
    }
    
    .about1 > .title > .titleContent > h1:nth-of-type(2) {
        width: 100%;
    }


    .star3{
        position: absolute;
        width: 123px;
        height: 121.51px;
        left: 40px;
        top: 50px;
    }

    .star4{
        position: absolute;
        width: 76.78px;
        height: 76.04px;
        left: 90.47px;
        top: 100.15px;
        
    }

    .legoChars {
        margin: 39px 0 0 0;
        width: 500px;
    }

    .about > .title > h1 {
        font-size: max(60px, 6.2vw);
       
    }

    

    .landing{
        margin-bottom: -50px;
    }

    .landing > h1 {
        font-size: max(69px, 5vw)
    }
    
    .landing > h2 {
        margin-top: 28px;
        margin-bottom: 28px;
        font-size: max(39px, 5.7vw)
    }

    .landing_dateWrapper > h4 {
        font-size: max(24px, 5.7vw)
    }

    .registerButton {
        margin: 48px auto;
        font-size: max(25px, 4.7vw);
        width: clamp(300px, 80vw, 350px);
        padding: 20px 0;
    }

    .main > img {
        height: 40vh;
        
    }

    .reviews > h1{
        font-weight: 200;
        font-size: max(20px, 3vw);
    }
}

/* SPEAKERS SECTION */

.speaker {
    height: max(100vh, 100%);
    padding: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #1a1a1a;
    overflow-x: clip;
    z-index: 2;
    position: relative;
    margin-top: 200px;
}

.speaker > h1 {
    display: flex;
    gap: 0.25em;
    align-items: center;
    padding-bottom: 10%;
    font-weight: 700;
    font-size: max(30px, 5.5vw);
    line-height: 102px;
    color: #FFFFFF;
}

.speakers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.stars{
    position: relative;
    
}

.star1{
   position: absolute;
width: 103px;
height: 102px;
left: 965px;
top: -170px;
}

.star2{
    position: absolute;
width: 165px;
height: 163px;
left: 900px;
top: -250px;
}

.speakerCard, .eventCard {
    align-items: center;
}

.speakerCardsWrapper {
    display: grid;
    place-items: center;
    background-color: #1a1a1a;
    grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));
    grid-gap: 40px;
    padding: 20px;
}

@media (max-width: 860px) {
    .speakerCardsWrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        align-items: center;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .speakerCard {
        flex: 0 0 auto;
        scroll-snap-align: start;
        width: 289px;
    }

    .speakers{
        flex-direction: column;
    }
}

/* EVENTS SECTION */

.event {
    height: max(100vh, 100%);
    
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    overflow-x: clip;
    z-index: 2;
    position: relative;
}

.event * {
    z-index: 2;
}

.event > .lights {
    position: absolute;
    top: -265px;
    left: 0;
    z-index: 1;
}

.event > h1 {
    display: flex;
    gap: 0.25em;
    align-items: center;
    padding-bottom: 10%;
    font-weight: 700;
    font-size: max(30px, 5.5vw);
    line-height: 102px;
    color: #FFFFFF;
    margin-left: 120px;
    margin-top: 120px;
}

.eventsCardsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventCardsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow-x: auto;
}

/* REVIEWS SECTION */
.reviews {
    padding: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #1a1a1a;
    color: white;
    overflow-x: clip;
    z-index: 2;
    position: relative;
}

.reviews * {
    z-index: 2;
}

.reviews > .toplight {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.reviews > .bottomlight {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.reviews > h1 {
    padding-bottom: 10%;
    font-weight: 700;
    font-size: max(30px, 5.5vw);
    line-height: 102px;
    color: #FFFFFF;
}

.reviewWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reviewWrapper > .chatBubble:nth-of-type(even) {
    align-self: flex-end;
    background-color: white;
    border-radius: 20px 0px 20px 20px;
    color: #1a1a1a;
}

.reviewWrapper > .chatBubble:nth-of-type(even)::before {
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    border-top: 20px solid white;
    border-left: 0px;
    border-right: 40px solid transparent;
}

@media screen and (max-width: 900px) {
    .eventCardsWrapper {
        gap: 10px;
    }
    .event h1{
        margin-left: 10px;
    }
    .reviews > h1{
        padding: 40px  0;
        font-weight: 500;
        font-size: max(37px, 1vw);
    }
}