.chatBubble {
    padding: max(20px, 2%);
    width: clamp(280px, 50vw, 700px);
    background-color: #42A5F5;
    border-radius: 0px 20px 20px 20px;
    position: relative;
  }
  .chatBubble:before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: 0;
    border-top: 20px solid #42A5F5;
    border-left: 40px solid transparent;
  }

  .chatBubble > .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }

  .chatBubble > .content > .buttonContainer {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
  }

  .chatBubble > .content > .buttonContainer > button {
    padding: 10px 50px;
    border: 1px solid black;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
  }

  .chatBubble > .content > .buttonContainer :nth-child(1) {
    background-color: #42A5F5;
    color: white;
  }

  .chatBubble > .content > .buttonContainer :nth-child(2):hover {
    background-color: #dddddd;
  }

  .chatBubble > .content > .buttonContainer :nth-child(1):hover {
    background-color: #71b8f1;
    color: white;
  }