.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  background-color: var(--torch-red);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 40px 0;
}
.header > h1 {
  pointer-events: none;
  font-size: clamp(50px, 20vw, 12em);
  font-weight: 800;
  color: #FFDB03;
  margin: 0;
  padding: 0;
  line-height: 100%;
  letter-spacing: -0.05em;
}

.header > h4 {
  font-size: clamp(12px, 16vw, 9.25em);
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #FFDB03;
}
.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  margin-top: 128px;
  position: relative;
  background: url("./assets/texture.png");
  border: 4px solid black;
  border-radius: 15px;
}

.form-wrapper:before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-color: white;
}

.lego-character-proximity {
  position: absolute;
  background-color: transparent;
  height: 120px;
  width: 100px;
  top: -90px;
  right: 20px;
}

.wobble{
  animation: shake 1s infinite;
}
@keyframes shake {
  0%  { transform: translateY(-15px)   rotate(0deg);  }
  25%  { transform:  translateY(-15px) rotate(-10deg);  }
  50%  { transform:  translateY(-15px) rotate(0deg);  }
  75%  { transform: translateY(-15px) rotate(10deg);  }
  100%  { transform: translateY(-15px)  rotate(0deg);  }
}

.lego-character {
  position: absolute;
  transition: transform 0.25s ease-in-out;
  top: -70px;
  right: 20px;
  z-index: -2;
}

.lego-character-proximity:hover ~.lego-character {
  transform: translateY(30px);
}
.form-wrapper:hover > .lego-character {
  transform: translateY(-30px);
}

#eyes, #eyes img {
  position: absolute;
  width: 7px;
}

.form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form > h1 {
  font-size: clamp(36px, 8vw,90px);
  letter-spacing: -0.05em;
  margin: 0;
}

.image-container {
  margin-top: 30px;
  display: flex;
}

.input-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.inputfield > h2, .inputfield > input, .inputfield > p {
  margin: 0;
}
.inputfield {
  margin-top: 20px;
}
.inputfield > h2 {
  font-size: clamp(24px, 2.5vw,33px);
  font-weight: 700;
  letter-spacing: -0.05em;
}
.inputfield > input[type=text], .inputfield > textarea {
  margin-top: 5px;
  width: clamp(220px, 22vw,280px);
  min-height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  padding-left: 10px;
  background-color: var(--moon-mist);
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -0.05em;
} 

.inputfield > textarea {
  width: 90%;
  min-height: 100px;
  resize: none;
}
.inputfield > h2 > span {
  color: #FF002A;
}
.inputfield > p {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -0.05em;
  color: #FF002A;
}

.legoman-wrapper {
  margin-top: 25px;
  flex: 1;
  max-height: 100%;
}
.legoman {
  max-height: 315px;
  margin: 0;
  padding: 0;
}

.submit {
  all: unset;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  background-color: var(--lego-yellow);
  border-radius: 50px;
  border: 4px solid black;
  transition: transform 0.5s;
}

.submit:hover {
  transform: scale(102%);
}

.submit:hover > div {
  background-color: black;
}

.submit > p {
  font-size: 24px;
  padding: 10px;
  margin: 0;
  font-weight: 600;
  letter-spacing: -0.05em;
}

.submit > div {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 4px solid black;
  transition: background-color 0.5s;
}

.footer {
  margin-top: 50px;
  max-height: 100px;
}

@media only screen and (max-width: 768px) {
  .inputfield > h2 {
    font-size: clamp(24px, 4.5vw,36px);
  }
  .input-container {
    width: 100%;
  }
  .legoman-wrapper {
    display: none;
  }
}