:root {
  font-family: 'Google Sans';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --torch-red: #ff002a;
  --lego-yellow: #ffdb08;
  --moon-mist: #e2dacf
}

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body > #root > div {
  min-height: 100vh;
}

.unselectable, img {
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans';
}

*,*:focus,*:hover{
  outline:none;
}

/* https://github.com/werbhq/definewebsite/blob/master/src/pages/define.css */

@media (hover: hover) {
  /* width */
  ::-webkit-scrollbar {
      width: 30px;
      display: block;
      z-index: 999;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(66, 164, 245);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      /* background: var(--lego-yellow); */
      background: url('./assets/images/scroll_bar.png');
  }
}

@font-face {
  font-family: 'GoogleSans';
  src: local('GoogleSans'), url('./assets/fonts/GOOGLESANS-REGULAR.TTF') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans';
  src: local('GoogleSans'), url('./assets/fonts/GOOGLESANS-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'GoogleSans';
  src: local('GoogleSans'), url('./assets/fonts/GOOGLESANS-MEDIUM.TTF') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Magilio';
  src: local('Magilio'), url('./assets/fonts/MagilioRegular-Yzv2O.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}